
/* Fonts
=========================================== */

@font-face {
    font-family: 'Arsenal-bold';
    src: url('../fonts/arsenal-bold_[allfont.ru].ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal-italic';
    src: url('../fonts/arsenal-italic_[allfont.ru].ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arsenal-regular';
    src: url('../fonts/arsenal-regular_[allfont.ru].ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion-pro-regular';
    src: url('../fonts/minion-pro.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Medium';
    src: url('../fonts/MinionPro-Medium.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion-semibold';
    src: url('../fonts/minion-semibold-italic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}



















