
.header{
	min-height:900px;
	position:relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.45);
}

.top-line{
	position:relative;
	height:100px;
	width:100%;
	z-index:10;
	background-color:rgba(40,81,78, 0.85);
	overflow:hidden;
}

/* MMENU */

.hamburger{
	line-height:75px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.mobil-menu{
	display:none;
}

.slide-menu{
	min-height:70px;
}

.mm-menu {
    color: #fff;
}

.mm-panels, .mm-panels > .mm-panel {
    background:rgba(78,78,73, 1.0);
    border-color: inherit;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}


.mm-listview > li > a:hover, .mm-listview > li > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    padding: 10px 10px 10px 20px;
    margin: 0;
    background:rgba(205,205,205, 0.5);
}

/* End MMENU */


.menu-wrap{
	text-align:center;
}

.menu-wrap ul li a{
	font-family: 'Arsenal-regular';
	font-size:16px;
	color:#fff;
	text-decoration:none;
	line-height:100px;
	padding:0 19.5px;
}

.menu-wrap ul li a:hover{
	text-decoration:underline;
}

.decstop-menu ul li.active{
	text-decoration:underline;
}

.mm-menu.mm-offcanvas{
	z-index:100;
}

h1{
	padding-top:230px;
}

.top-subtitle{
	font-family: 'Minion-semibold';
	font-size:48px;
	color:#fff;
	text-align:center;
}

.oficial{
	color:#fff;
	z-index:10;
	text-align:right;
	position:relative;
	margin-top:200px;
}

.bottom-line{
	position:absolute;
	left:0;
	bottom:0;
	height:150px;
	width:100%;
	z-index:10;
	background-color:rgba(84,84,79, 0.85);
}

.search{
	color:#fff;
	line-height:150px;
}

.search .fa{
	font-size:38px;
	padding-right:20px;
}


.search-field{
	width:630px;
	padding:10px 0 10px 30px;
	font-family: 'Arsenal-italic';
	font-size:24px;
	font-style:italic;
	color:#999;
	background-color:rgba(255,255,255, 0.0);
	border:none;
	border-bottom:1px solid #fff;
	margin-left:-20px;
	outline:none;
}

.field-wrap{
	padding-top:50px;
}

.bottom-content .button-wrap{
	text-align:center;
}

.button-search{
	font-family: 'Arsenal-regular';
	font-size:18px;
	color:#fff;
	background-color:rgba(0,0,0, 0.0);
	line-height:150px;
	padding:10px 40px;
	border:2px solid #fff;
	letter-spacing:0.2px;
	cursor:pointer;
}


/* ============ MEDIA =================== */

/* Custom, iPhone Retina */
@media only screen and (max-width:1200px){
	
	.header{
		min-height:800px;
	}
	
	.top-line{
		height:90px;
	}
	
	.menu-wrap ul li a{
		line-height:90px;
	}
	
	h1 {
		padding-top: 200px;
		font-size: 68px;
	}
	
	.oficial {
		text-align: right;
		margin-top: 160px;
	}
	
	.field-wrap {
		padding-top: 40px;
	}
	
	.search-field {
		width: 100%;
		font-size: 24px;
		margin-left: 0;
		padding: 10px 0 10px 20px;
	}
	
	.button-search {
		font-size: 18px;
		line-height: 150px;
		padding: 8px 40px;
	}
	
	.header h2 {
		font-size: 40px;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width:992px){
	.header{
		min-height:750px;
	}
	.top-line{
		height:80px;
	}
	.menu-wrap ul li a{
		line-height:80px;
	}
	h1 {
		padding-top: 220px;
		font-size: 62px;
	}
	
	.bottom-line .col--25{
		width:28%;
	}
	.bottom-line .col--50{
		width:44%;
	}
	.bottom-line h2 {
		font-size: 34px;
		line-height: 120px;
	}
	.search .fa {
		font-size: 30px;
		padding-right: 15px;
	}
	.button-search {
		font-size: 18px;
		line-height: 120px;
		padding: 6px 35px;
	}
	.bottom-line{
		height:120px;
	}
	.field-wrap {
		padding-top: 26px;
	}
	.oficial {
		text-align: right;
		margin-top: 140px;
		padding-right: 20px;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width:768px){
	.header{
		min-height:700px;
	}
	.top-line{
		height:70px;
	}
	h1 {
		padding-top: 180px;
		font-size: 56px;
	}
	.header h2 {
		font-size: 36px;
	}
	.oficial {
		text-align: right;
		margin-top: 150px;
		padding-right: 20px;
	}
	.bottom-line h2 {
		font-size: 30px;
		line-height: 120px;
	}
	.search .fa {
		font-size: 28px;
		padding-right: 10px;
	}
	
	.mobil-menu{
		display:block;
	}

	.hamburger {
		line-height: 52px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:620px){
	.header{
		min-height:750px;
	}
	
	.top-line{
		height:60px;
	}
	h1 {
		padding-top: 200px;
		font-size: 48px;
	}
	.header h2 {
		font-size: 32px;
	}
	.oficial {
		text-align: center;
		margin-top: 125px;
		padding-right: 0;
	}
	
	.bottom-line{
		height:auto;
		padding:20px 0;
	}
	
	.bottom-line h2 {
		font-size: 26px;
		line-height: 100px;
	}
	.bottom-line .col--25{
		width:100%;
		float:none;
		text-align:center;
	}
	.bottom-line .col--50{
		width:100%;
		float:none;
		text-align:center;
		margin-bottom:20px;
	}
	.bottom-content{
		padding:0 25px;
	}
	
	.search .fa {
		font-size: 26px;
		padding-right: 15px;
	}
	
	.field-wrap {
		padding-top: 0;
	}
	
	.search-field {
		font-size: 20px;
		margin-left: 0;
		padding: 10px 0 10px 20px;
		text-align: center;
	}
	
	.button-search {
		font-size: 18px;
		line-height: 2.5;
		padding: 10px 40px;
	}
	
	.bottom-line h2 {
		font-size: 30px;
		line-height: 1.7;
	}
	.oficial {
		text-align: center;
		margin-top: 132px;
		padding-right: 0;
	}
	
	.hamburger {
		line-height: 42px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:400px){
	
	.top-line{
		height:50px;
	}
	.header{
		min-height:700px;
	}
	h1 {
		padding-top: 145px;
		font-size: 48px;
	}
	.bottom-content {
		padding: 0 15px;
	}
	
}


