
.main{
	min-height:100px;
}

.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
}

/* ======== S-ASSISTENT ======== */

.s-assistant{
	padding:75px 0;
}

.s-assistant h2{
	text-align:center;
	padding-bottom:5px;
}

.s-assistant h2:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    background: #C29955;
}

.s-assistant p{
	font-family: 'Arsenal-regular';
	font-size:18px;
	text-align:center;
	margin-top:15px;
}

.s-assistant .form-wrap{
	margin-bottom:30px;
}


.s-assistant .select{
	margin-top:30px;
}

.reset-wrap{
	text-align:center;
	padding-top:5px;
}

.reset-button{
	font-family: 'Arsenal-regular';
	font-size:18px;
	color:#333;
	text-decoration:none;
	outline:none;
	padding:8px 42px;
	border:2px solid #CDCDCD;
	display:inline-block;
}

.selectize-input{
    background: rgba(255,255,255, 0.0);
    cursor: text;
    display: inline-block;
	border:1px solid #333;
}

.form-body{
	padding:0 85px;
}

/* ------- S-ASSISTENT Media ------ */

/* Custom, iPhone Retina */
@media only screen and (max-width:1200px){
	.form-body{
		padding:0 70px;
	}
	.s-assistant h2{
		font-size:40px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:992px){
	.form-body{
		padding:0 20px;
	}
	.s-assistant h2{
		font-size:34px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:768px){
	.form-body{
		padding:0 15px;
	}
	.s-assistant h2{
		font-size:30px;
	}
	.s-assistant {
		padding: 50px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:620px){
	.s-assistant .col--33{
		width:100%;
		margin-bottom:16px;
	}
	.s-assistant h2{
		font-size:28px;
	}
	.s-assistant {
		padding: 30px 0;
	}
	.s-assistant .form-wrap {
		margin-bottom: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:480px){
	.s-assistant h2{
		font-size:22px;
	}
	.s-assistant {
		padding: 28px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:400px){
	.s-assistant h2{
		font-size:18px;
	}
}

/* ======== S-ADDRESS ======== */

.s-address{
	min-height:210px;
	position:relative;
	color:#fff;
}

.s-address .content-wrap{
	position:relative;
}

.s-address h2{
	color:#fff;
	line-height:210px;
	float:left;
	padding-left:60px;
}

.s-address p{
	font-family: 'Arsenal-regular';
	font-size:30px;
	text-transform:none;
	line-height:210px;
	padding-left:270px;
}

.s-address h2 .fa{
	position:absolute;
	left:15px;
	top:85px;
}

/* ------- S-ADDRESS Media ------ */

/* Custom, iPhone Retina */
@media only screen and (max-width:1200px){
	.s-address h2 {
		font-size:40px;
	}
	.s-address p {
		padding-left: 230px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:992px){
	.s-address h2 {
		font-size:34px;
	}
	.s-address h2 .fa {
		left: 15px;
		top: 90px;
	}
	.s-address p {
		font-size: 30px;
		padding-left: 200px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:768px){
	.s-address h2 {
		font-size:30px;
		padding-left: 50px;
	}
	.s-address h2 .fa {
		left: 15px;
		top: 90px;
	}
	.s-address p {
		font-size: 26px;
		padding-left: 170px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:620px){
	.s-address {
		height: 210px;
		padding-top:60px;
	}
	.s-address h2 {
		font-size:30px;
		padding-left: 0;
		float:none;
		text-align:center;
		line-height:1.9;
	}
	.s-address h2 .fa {
		position:relative;
		top:2px;
		padding-right:25px;
	}
	.s-address p {
		font-size: 22px;
		padding-left: 0;
		line-height:1;
		text-align:center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:480px){
	.s-address p {
		font-size: 18px;
	}
}


/* ======== S-MAP ======== */

.s-map{
	padding:70px 0;
}


.s-map h2{
	text-align:center;
	padding-bottom:5px;
}

.s-map h2:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    background: #C29955;
}

.scheme-wrap{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}

.scheme-button{
	font-family: 'Arsenal-regular';
	font-size:18px;
	color:#333;
	text-decoration:none;
	outline:none;
	padding:8px 25px;
	border:2px solid #CDCDCD;
}

.scheme-button:hover{
	border:2px solid #C1C1C1;
}

.map-wrapper{
	position:relative;
	background-color:#DBDBDB;
	max-height:500px;
	text-align:center;
	box-shadow: 0 0 10px #666;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
	display:block;
}
.map-responsive iframe{
    left:0;
    top:0;
    max-height:500px;
    width:100%;
    position:absolute;
}

.map-static{
	display:none;
}



.scheme-button.travel{
	display:none;
}



/* ------- S-MAP Media ------ */

/* Custom, iPhone Retina */
@media only screen and (max-width:1200px){
	.s-map h2 {
		font-size:40px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:992px){
	.s-map h2 {
		font-size:34px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:768px){
	.s-map h2 {
		font-size:30px;
	}
	.s-map {
		padding: 50px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:620px){
	.s-map h2{
		font-size:28px;
	}
	.s-map {
		padding: 40px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:480px){
	.s-map h2{
		font-size:22px;
	}
	.scheme-button {
		background-color:#CDCDCD;
	}
	.s-map {
		padding: 28px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:400px){
	.s-map h2{
		font-size:18px;
	}
}


/* ======== S-HOURS ======== */

.s-hours{
	min-height:210px;
	position:relative;
	color:#fff;
}
.s-hours .content-wrap{
	position:relative;
}
.s-hours .left{
	padding-top:80px;
	padding-left:15px;
}
.s-hours h2{
	color:#fff;
	line-height:1;
	padding-left:12px;
	display:inline-block;
}
.s-hours .watch{
	display:inline-block;
	float:left;
	padding-top: 2px;
}
.s-hours .button-wrap{
	line-height:210px;
}
.s-hours .hours-button{
	font-family: 'Arsenal-regular';
	font-size:18px;
	letter-spacing:0.3px;
	color:#fff;
	outline:none;
	text-decoration:none;
	padding:15px 17px;
	border:3px solid #fff;
	margin-left:-100px;
}

/* ------- S-HOURS Media ------ */

/* Custom, iPhone Retina */
@media only screen and (max-width:1200px){
	.s-hours h2 {
		font-size:40px;
	}
	.s-hours .hours-button{
		padding:15px 17px;
		margin-left:-70px;
	}
	.s-hours .left {
		padding-top: 85px;
		padding-left:15px;
	}
	.s-hours .watch{
		width:35px;
		height:auto;
		padding-top: 2px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:992px){
	.s-hours h2 {
		font-size:34px;
	}
	.s-hours .watch{
		width:30px;
		padding-top: 2px;
	}
	.s-hours .hours-button{
		padding:12px 15px;
		margin-left:-40px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:768px){
	.s-hours h2 {
		font-size:30px;
	}
	.s-hours .watch{
		width:28px;
		padding-top: 2px;
	}
	.s-hours .hours-button{
		padding:12px 15px;
		margin-left:-40px;
	}
	.s-hours .left {
		padding-top: 90px;
		padding-left: 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:650px){
	.col--50{
		width:100%;
		float:none;
		text-align:center;
	}
	.s-hours .button-wrap {
		line-height:0;
		margin-top:30px;
	}
	.s-hours .hours-button{
		padding:12px 15px;
		margin:0;
	}
	.s-hours h2 {
		color: #fff;
		line-height: 1;
		padding: 0;
		margin:0;
		display: block;
	}
	.s-hours .left {
		padding:0;
		padding-top: 50px;
		padding-bottom:17px;
	}
	.work-time{
		width:300px;
		margin:0 auto;
	}
	.s-hours .hours-button{
		color:#333;
		background-color:#fff;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:360px){
	.s-hours .hours-button{
		font-size:16px;
		padding:12px 8px;
	}
}


/* ======== S-CONTACT-TITLE ======== */

.s-contact-title{
	padding:70px 0;
}
.s-contact-title h2{
	text-align:center;
	padding-bottom:5px;
}
.s-contact-title h2:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    background: #C29955;
}

/* ------- S-CONTACT-TITLE Media ------ */

/* Custom, iPhone Retina */
@media only screen and (max-width:1200px){
	.s-contact-title h2 {
		font-size:40px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:992px){
	.s-contact-title h2 {
		font-size:34px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:768px){
	.s-contact-title h2 {
		font-size:30px;
	}
	.s-contact-title {
		padding: 50px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:620px){
	.s-contact-title h2{
		font-size:28px;
	}	
	.s-contact-title {
		padding: 40px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:480px){
	.s-contact-title h2{
		font-size:22px;
	}
	.s-contact-title {
		padding: 28px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:400px){
	.s-contact-title h2{
		font-size:18px;
	}
}


/* ======== S-CONTACTS ======== */

.s-contacts{
	position:relative;
	min-height:100px;
	height:auto;
	padding:70px 0;
}
.contact-phone h2{
	color:#fff;
	padding-bottom:30px;
	padding-left:50px;
}
.contact-mail h2{
	color:#fff;
	padding-bottom:30px;
	padding-left:65px;
}
.contact-phone h2 .fa{
	position:absolute;
	left:0;
	top:15px;
}
.contact-mail h2 .fa{
	position:absolute;
	left:0;
	top:12px;
}
.s-contacts p{
	font-family: 'Arsenal-bold';
	font-size:24px;
	font-weight:600;
	color:#fff;
	position:relative;
	padding-bottom:45px;
}
.s-contacts p:last-child{
	padding-bottom:0;
}
.s-contacts .upp{
	text-transform:uppercase;
}

.s-contacts p a{
	color:#fff;
	outline:none;
	text-decoration:none;
}

.s-contacts p a:hover{
	text-decoration:underline;
}

/* ------- S-CONTACTS Media ------ */

/* Custom, iPhone Retina */
@media only screen and (max-width:1200px){
	.s-contacts h2 {
		font-size:40px;
	}
	.contact-phone h2 .fa{
		position:absolute;
		left:0;
		top:12px;
	}
	.contact-mail h2 .fa{
		position:absolute;
		left:0;
		top:9px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:992px){
	.s-contacts h2 {
		font-size:34px;
	}
	.contact-phone h2 {
		color: #fff;
		padding-bottom: 20px;
		padding-left: 40px;
	}
	.contact-mail h2 {
		padding-bottom: 20px;
		padding-left: 50px;
	}
	.contact-phone h2 .fa{
		position:absolute;
		left:0;
		top:11px;
	}
	.contact-mail h2 .fa{
		position:absolute;
		left:0;
		top:8px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:768px){
	.s-contacts h2 {
		font-size:30px;
	}
	.contact-mail h2 .fa {
		position: absolute;
		left: 0;
		top: 8px;
	}
	.contact-phone h2 .fa {
		position: absolute;
		left: 0;
		top: 10px;
	}
	.s-contacts p {
		font-size: 20px;
		padding-bottom: 30px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:620px){
	.s-contacts {
		padding: 65px 0;
	}
	.s-contacts .col--50{
		width:100%;
		float:none;
		text-align:center;
		padding:0 30px;
	}
	.s-contacts h2 .fa {
		position: relative;
		top: 2px;
		padding-right: 12px;
	}
	.contact-mail h2 {
		padding-bottom: 10px;
		padding-left: 0;
	}
	.contact-phone h2 {
		padding-bottom: 10px;
		padding-left: 0;
	}
	.s-contacts p {
		font-size: 18px;
		padding-bottom: 15px;
	}
	.s-contacts .left{
		padding-bottom:20px;
	}
	.s-contacts .line h2{
		border-top:1px solid #fff;
		padding-top:20px;
		padding-bottom: 10px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:480px){
	.s-contacts {
		padding: 60px 0;
	}
}

/* ======== FOOTER ======== */

.footer{
	padding:35px 0 32px 0;
	background-color:#2F2F2F;
	color:#fff;
}
.footer p{
	font-family: 'Arsenal-regular';
	font-size:12px;
	padding-bottom:5px;
}
.footer a{
	color:#fff;
	text-decoration:none;
}
.footer .und{
	text-decoration:underline;
}
.footer a:hover{
	color:#fff;
	text-decoration:underline;
}
.footer .und:hover{
	text-decoration:none;
}
.footer .content-left{
	text-align:left;
}
.footer .content-center{
	text-align:center;
}
.footer .content-right{
	text-align:right;
}

/* ------- FOOTER Media ------ */

/* Custom, iPhone Retina */
@media only screen and (max-width:620px){
	.col--33{
		width:100%;
		float:none;
	}
	.footer .content-left{
		text-align:center;
		margin-bottom:16px;
	}
	.footer .content-center{
		margin-bottom:16px;
	}
	.footer .content-right{
		text-align:center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width:480px){
	.footer{
		padding:20px 0 17px 0;
	}
}

